In [1]:
import pandas as pd
podatoci = [1, 3, "dva"]
niza = pd.Series(podatoci)
print(niza)

0      1
1      3
2    dva
dtype: object

In [2]:
import pandas as pd
rechnik = {'a':1, 'b':2, 'c':3}
niza = pd.Series(rechnik)
print(niza)

a    1
b    2
c    3
dtype: int64

In [3]:
import pandas as pd
podatoci = ['Kurs', 'za', 'Pajton']
Indeks = ['prv', 'vtor', 'tret']
niza = pd.Series(podatoci, index = Indeks)
print(niza)

prv       Kurs
vtor        za
tret    Pajton
dtype: object

In [4]:
import pandas as pd
import numpy as np
podatoci = np.asarray([1,-2,2])
Indeks = ['prv', 'vtor', 'tret']
niza = pd.Series(podatoci, index = Indeks)
print(niza)

prv     1
vtor   -2
tret    2
dtype: int32

In [5]:
SamoPodatocite = niza.values
VoLista = niza.to_list()
VoNumpy = niza.to_numpy()
print(SamoPodatocite)
print(VoLista)
print(VoNumpy)

[ 1 -2  2]
[1, -2, 2]
[ 1 -2  2]

In [6]:
import pandas as pd
import numpy as np
podatoci = ['g', 'o', 'l', 'e', 'm', 'i', ' ', 'p', 'o', 'd', 'a', 't', 'o', 'c', 'i']
niza = pd.Series(podatoci)
print(niza[3]) # само четвртиот елемент (почетниот е со реден број 0)
print(niza[:5]) # привите елементи се до петтиот (петтиот не е вклучен)
print(niza[12:]) # од дванаесеттиот елемент се до крајот

e
0    g
1    o
2    l
3    e
4    m
dtype: object
12    o
13    c
14    i
dtype: object

In [7]:
import pandas as pd
podatoci = [3, 2, 1]
Indeks = ['prv', 'vtor', 'tret']
niza = pd.Series(podatoci, index = Indeks)
print(niza.loc['vtor'])

2

In [8]:
print(niza.loc[['prv', 'tret']])

prv     3
tret    1
dtype: int64

In [9]:
import pandas as pd
redici = [2018, 2019, 2020]
koloni = ['proizvodi','promet', 'dobivka']
podatoci = [[7, 12, 9],[2000, 3500, 2800],[600, 1400, 1200]]
tabela = pd.DataFrame(podatoci, index = redici, columns = koloni)
print(tabela)

      proizvodi  promet  dobivka
2018          7      12        9
2019       2000    3500     2800
2020        600    1400     1200

In [10]:
import pandas as pd
redici = [2018, 2019, 2020]
podatoci = {'proizvodi':[7, 12, 9],'promet':[2000, 3500, 2800], 'dobivka':[600, 1400, 1200]}
tabela = pd.DataFrame(podatoci, index = redici)
print(tabela)

      proizvodi  promet  dobivka
2018          7    2000      600
2019         12    3500     1400
2020          9    2800     1200

In [28]:
print(tabela['promet'])

2018    2000
2019    3500
2020    2800
Name: promet, dtype: int64

In [12]:
print(tabela[['proizvodi', 'dobivka']])

      proizvodi  dobivka
2018          7      600
2019         12     1400
2020          9     1200

In [13]:
print(tabela.iloc[1, 0])

12

In [14]:
print(tabela.iloc[2, :1])

proizvodi    9
Name: 2020, dtype: int64

In [15]:
print(tabela.iloc[0:2, 1:])

      promet  dobivka
2018    2000      600
2019    3500     1400

In [16]:
print(tabela.loc[2018, 'proizvodi'])

7

In [17]:
print(tabela.loc[2019])

proizvodi      12
promet       3500
dobivka      1400
Name: 2019, dtype: int64

In [18]:
print(tabela.loc[[2018, 2020], 'proizvodi'])

2018    7
2020    9
Name: proizvodi, dtype: int64

In [19]:
GolemaDobivka = tabela.loc[tabela['dobivka'] > 1000]
print(GolemaDobivka)

      proizvodi  promet  dobivka
2019         12    3500     1400
2020          9    2800     1200

In [20]:
GolemaDobivkaIPromet = tabela.loc[(tabela['dobivka'] > 1000) & (tabela['promet'] >= 2800),
                                  ['promet', 'dobivka']]
print(GolemaDobivkaIPromet)

      promet  dobivka
2019    3500     1400
2020    2800     1200

In [21]:
tabela['plati'] = [200, 250, 250]
ProcentNaDobivka = tabela['dobivka'] / tabela['promet']
tabela['procent na dobivka'] = ProcentNaDobivka
print(tabela)

      proizvodi  promet  dobivka  plati  procent na dobivka
2018          7    2000      600    200            0.300000
2019         12    3500     1400    250            0.400000
2020          9    2800     1200    250            0.428571

In [22]:
print(tabela.drop([2018]))
print(tabela.drop(['procent na dobivka'], axis=1))

      proizvodi  promet  dobivka  plati  procent na dobivka
2019         12    3500     1400    250            0.400000
2020          9    2800     1200    250            0.428571
      proizvodi  promet  dobivka  plati
2018          7    2000      600    200
2019         12    3500     1400    250
2020          9    2800     1200    250

In [23]:
print(tabela.rename(columns={'procent na dobivka':'procent'}))
print('--------------------------------------------------')
print(tabela.set_index('proizvodi'))

      proizvodi  promet  dobivka  plati   procent
2018          7    2000      600    200  0.300000
2019         12    3500     1400    250  0.400000
2020          9    2800     1200    250  0.428571
--------------------------------------------------
           promet  dobivka  plati  procent na dobivka
proizvodi
7            2000      600    200            0.300000
12           3500     1400    250            0.400000
9            2800     1200    250            0.428571

In [2]:
VchitaniPodatociCSV = pd.read_csv('SandP500.csv')
VchitaniPodatociCSV.head()

        Date     Price      Open      High       Low Vol. Change %
0   5-Apr-21  4,077.91  4,034.44  4,083.42  4,034.44    -    1.44%
1   1-Apr-21  4,019.87  3,992.78  4,020.63  3,992.78    -    1.18%
2  31-Mar-21  3,972.89  3,967.25  3,994.41  3,966.98    -    0.36%
3  30-Mar-21  3,958.55  3,963.34  3,968.01  3,944.35    -   -0.32%
4  29-Mar-21  3,971.09  3,969.31  3,981.83  3,943.25    -   -0.09%

In [27]:
VchitaniPodatociEksel = pd.read_excel("MashkoNaselenieVoMakedonija.xlsx", sheet_name=1)
VchitaniPodatociEksel.head()

FileNotFoundError: [Errno 2] No such file or directory: 'MashkoNaselenieVoMakedonija.xlsx'

In [8]:
VchitaniPodatociCSV.to_excel('SandP500.xlsx')

# Превземање податоци со API

In [38]:
import requests

MestopolozhbaSkopje = {'lat':'41.99', 'lon':'21.425'}
BaranjeZaPodatoci = requests.get('http://api.open-notify.org/podatoci.json')
print(BaranjeZaPodatoci.status_code)

404

In [32]:
import requests

MestopolozhbaSkopje = {'lat':'41.99', 'lon':'21.425'}
BaranjeZaPodatoci = requests.get('http://api.open-notify.org/astros.json')
print(BaranjeZaPodatoci.json())

{'people': [{'name': 'Mark Vande Hei', 'craft': 'ISS'}, {'name': 'Oleg Novitskiy', 'craft': 'ISS'}, {'name': 'Pyotr Dubrov', 'craft': 'ISS'}, {'name': 'Thomas Pesquet', 'craft': 'ISS'}, {'name': 'Megan McArthur', 'craft': 'ISS'}, {'name': 'Shane Kimbrough', 'craft': 'ISS'}, {'name': 'Akihiko Hoshide', 'craft': 'ISS'}, {'name': 'Nie Haisheng', 'craft': 'Tiangong'}, {'name': 'Liu Boming', 'craft': 'Tiangong'}, {'name': 'Tang Hongbo', 'craft': 'Tiangong'}], 'number': 10, 'message': 'success'}

In [34]:
import requests
from datetime import datetime

MestopolozhbaSkopje = {'lat':'41.99', 'lon':'21.425'}
BaranjeZaPodatoci = requests.get('http://api.open-notify.org/iss-pass.json', 
                                 params=MestopolozhbaSkopje)
print(BaranjeZaPodatoci.json())

{'message': 'success', 'request': {'altitude': 100, 'datetime': 1629274210, 'latitude': 41.99, 'longitude': 21.425, 'passes': 5}, 'response': [{'duration': 588, 'risetime': 1629275976}, {'duration': 612, 'risetime': 1629281827}, {'duration': 656, 'risetime': 1629287638}, {'duration': 541, 'risetime': 1629293477}, {'duration': 605, 'risetime': 1629347870}]}

In [35]:
import requests
from datetime import datetime

MestopolozhbaSkopje = {'lat':'41.99', 'lon':'21.425'}
BaranjeZaPodatoci = requests.get('http://api.open-notify.org/iss-pass.json', 
                                 params=MestopolozhbaSkopje)
for i in BaranjeZaPodatoci.json()['response']:
    print(datetime.fromtimestamp(i['risetime']))

2021-08-18 10:39:36
2021-08-18 12:17:07
2021-08-18 13:53:58
2021-08-18 15:31:17
2021-08-19 06:37:50

In [36]:
import requests

BaranjeZaPodatoci = requests.get("https://finnhub.io/api/v1/search?q=apple&token=c2rskc2ad3icoseq11c0")
BaranjeZaPodatoci.json()

{'count': 22,
 'result': [{'description': 'APPLE INC',
   'displaySymbol': 'AAPL',
   'symbol': 'AAPL',
   'type': 'Common Stock'},
  {'description': 'Apple',
   'displaySymbol': '13RI.L',
   'symbol': '13RI.L',
   'type': ''},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.HM',
   'symbol': 'APC.HM',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.F',
   'symbol': 'APC.F',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL-RM.ME',
   'symbol': 'AAPL-RM.ME',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL*.MX',
   'symbol': 'AAPL*.MX',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPLCL.SN',
   'symbol': 'AAPLCL.SN',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPLEUR.SW',
   'symbol': 'AAPLEUR.SW',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': '0R2V.L',
   'symbol': '0R2V.L',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.SG',
   'symbol': 'APC.SG',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL.VI',
   'symbol': 'AAPL.VI',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL.SN',
   'symbol': 'AAPL.SN',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.BE',
   'symbol': 'APC.BE',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.DE',
   'symbol': 'APC.DE',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL.MI',
   'symbol': 'AAPL.MI',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL.BC',
   'symbol': 'AAPL.BC',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.MU',
   'symbol': 'APC.MU',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPLUSD.SW',
   'symbol': 'AAPLUSD.SW',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'AAPL.SW',
   'symbol': 'AAPL.SW',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.DU',
   'symbol': 'APC.DU',
   'type': 'Common Stock'},
  {'description': 'APPLE INC',
   'displaySymbol': 'APC.HA',
   'symbol': 'APC.HA',
   'type': 'Common Stock'},
  {'description': 'APPULSE CORP',
   'displaySymbol': 'APL.V',
   'symbol': 'APL.V',
   'type': 'Common Stock'}]}

# Работа со бази. Чанук база

Базата е превземена од Интернет и е снимена во иста папка каде што е и оваа програма. Ќе направиме преглед да табелите (кои се), ќе вчитаме една табела и ќе ја сместиме во Пандас табела

In [25]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
SpisokNaTabeli = cursor.fetchall()
print(SpisokNaTabeli)

[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',)]

In [26]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM employees")
IzvlechenaTabela = cursor.fetchall()
PandasTabela = pd.DataFrame(IzvlechenaTabela)
PandasTabela.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com