# Работа со табеларни податоци со библиотеката Пандас

Се работи со табела превземена од Интернет каде што се сместени разни податоци за книги. Ќе ја вчитаме табелата од датотека, која што е претходно снимена на работниот компјутер, на исто место каде што е и оваа програма.

In [1]:
import pandas as pd

SitePodatoci = pd.read_csv('BL-Flickr-Images-Book.csv')
SitePodatoci.head() # Ги испишува првите 5 реда од табелата

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [2]:
SitePodatoci.info()  # Дава преглед на тоа кои се насловите на колоните и по колку податоци недостасуваат

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [3]:
IminjaIAvtori = SitePodatoci[['Title', 'Author']] # Издвоени се само насловите и авторите
IminjaIAvtori.head(10) # Испишани се 10 реда

                                               Title         Author
0                  Walter Forbes. [A novel.] By A. A          A. A.
1  All for Greed. [A novel. The dedication signed...      A., A. A.
2  Love the Avenger. By the author of “All for Gr...      A., A. A.
3  Welsh Sketches, chiefly ecclesiastical, to the...      A., E. S.
4  [The World in which I live, and my place in it...      A., E. S.
5  [The World in which I live, and my place in it...      A., E. S.
6  Lagonells. By the author of Darmayne (F. E. A....      A., F. E.
7  The Coming of Spring, and other poems. By J. A...  A., J.|A., J.
8  A Warning to the inhabitants of England, and L...         Remaʿ.
9  A Satyr against Vertue. (A poem: supposed to b...         A., T.

Сега, со еден кратко код ќе најдеме по колку книги има од секој издавач. Прво ќе видиме колку различни издавачи има, па потоа за секој издавач ќе изброиме по колку записи има

In [4]:
Izdavachi = SitePodatoci['Publisher'].unique()  # Список од сите издавачи (unique ги дава без повторување)
print(len(Izdavachi))

1990

Во следниот код е објаснето што се прави, како пример на употреба на основните операции со табели

In [5]:
BrKnigiPoIzdavach = {}  # Едно празен речник
for Izdavach in Izdavachi: # се изминува низ сите различни издавачи
    KnigiPoIzdavach = SitePodatoci[SitePodatoci['Publisher'] == Izdavach] # се извлекува табела кој што ги содржи сите записи за даден издавач
#    print(KnigiPoIzdavach[['Publisher','Title']]) #  Може да го тргнете коментарот и да видите за секој издавач кои книги ги има во оваа табела
    KolkuSe = KnigiPoIzdavach.count() # Се брои по колку елементи има добиената подтабела
    BrKnigiPoIzdavach[Izdavach]= KolkuSe[0]  
    # Пајтон смета дека KnigiPoIzdavach e табела, 
    # па се бројат записите во секојa колона (ако има запис). 
    # Во првата колона има запис (идентификациски број), 
    # па затоа го бараме првиот (0) број оти знаеме дека колку се идентификациски броеви, 
    # толку се книги, односно записи
    
NizaBrKnigi = pd.Series(BrKnigiPoIzdavach) 
# Правиме Пандас низа од избројаните книги, при што бидејќи BrKnigiPoIzdavach е речник
# добиената низа автоматски ќе има и индекс, што се клучевите од речникот
# а тоа се всушност имињата на издавачите.
# При печатењето ќе се уверите дека тоа е така
PodredenaNiza = NizaBrKnigi.sort_values(ascending=False) # Ја подредуваме низата
print(PodredenaNiza)

Macmillan & Co.      85
London               69
Privately printed    53
Longmans & Co.       52
Hurst & Blackett     51
                     ..
Robert Triphook       1
J. Upham              1
A. P. Smith           1
Mackenzie & Dent      1
NaN                   0
Length: 1990, dtype: int64

# Better solution (mine :#)

In [6]:
SitePodatoci[["Publisher", "Identifier"]].groupby("Publisher").count().groupby("Publisher").sum()

                                       Identifier
Publisher
, 42. Nichols & Co.                             1
-152. D. H. Edwards                             1
-82. 1-298. E. P. for H. Seyle                  1
1. E. Moxon & Co.                               1
1. Printed for the Author by W. Eyres           1
...                                           ...
“Moray Weekly News”                             1
“Northern Chronicle”                            1
“Sussex Advertiser” Office                      1
“Telegraph”                                     1
“The Art Journal”                               1

[1989 rows x 1 columns]