# Вежба 1: Стандардизација на континуални податоци

In [1]:
import pandas as pd

print(pd.__version__)

1.4.2

 За оваа вежба треба да се вчита датотеката exams.csv

По вчитување на фајлот, потребно е да ги вчитаме податоците, каде како знак на наводник се користи ".
Станува збор за 8 колекции (колони) и 100 податочни точки за секоја колекција

In [2]:
exam_data = pd.read_csv('../Exercises 5 - Datasets/exams.csv', quotechar='"')
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group E,associate's degree,standard,completed,79,75,81
1,female,group C,associate's degree,free/reduced,none,56,65,64
2,male,group D,bachelor's degree,standard,none,86,68,74
3,female,group A,bachelor's degree,standard,none,68,78,76
4,female,group D,high school,free/reduced,none,49,68,61
...,...,...,...,...,...,...,...,...
95,female,group A,master's degree,free/reduced,completed,59,76,80
96,female,group D,high school,free/reduced,none,60,62,61
97,female,group C,some college,standard,none,69,82,83
98,male,group D,some high school,standard,none,89,83,79
99,female,group A,master's degree,free/reduced,completed,65,88,88

Сакаме да ги видиме средниот поени по математика, читање и пишување

In [3]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

print(math_average)
print(reading_average)
print(writing_average)

65.06
67.28
66.47

Следи процедурата за стандардизација на податочните колекции. За таа цел се користи scale функцијата од preprocessing класта во рамки на scikit-learn.
Забележете ги нормализираните (стандардизираните) вредности на поените по математика, читање и пишување

In [6]:
from sklearn import preprocessing

exam_data['math score'] = preprocessing.scale(exam_data['math score'])
exam_data['reading score'] = preprocessing.scale(exam_data['reading score'])
exam_data['writing score'] = preprocessing.scale(exam_data['writing score'])

exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group E,associate's degree,standard,completed,0.994557,0.574138,1.049901
1,female,group C,associate's degree,free/reduced,none,-0.646391,-0.169564,-0.178476
2,male,group D,bachelor's degree,standard,none,1.493976,0.053547,0.544099
3,female,group A,bachelor's degree,standard,none,0.209756,0.797248,0.688613
4,female,group D,high school,free/reduced,none,-1.145810,0.053547,-0.395248
...,...,...,...,...,...,...,...,...
95,female,group A,master's degree,free/reduced,completed,-0.432354,0.648508,0.977643
96,female,group D,high school,free/reduced,none,-0.361008,-0.392675,-0.395248
97,female,group C,some college,standard,none,0.281101,1.094729,1.194416
98,male,group D,some high school,standard,none,1.708013,1.169099,0.905386
99,female,group A,master's degree,free/reduced,completed,-0.004281,1.540950,1.555703

Новите средни вредности за овие колони (колекции на податоци) треба имаат вредност приближно еднаква на 0

In [7]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

print(math_average)
print(reading_average)
print(writing_average)

-2.1510571102112408e-18
-1.1102230246251566e-17
-2.6645352591003756e-17

Досега работевме со контиуални податоци (колекции), во наредниот вежба ќе работиме со категорични вредности на податоците