In [2]:
from sklearn import preprocessing
import pandas as pd

exam_data = pd.read_csv('../Exercises 5 - Datasets/exams.csv', quotechar='"')

math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

exam_data['math score'] = preprocessing.scale(exam_data['math score'])
exam_data['reading score'] = preprocessing.scale(exam_data['reading score'])
exam_data['writing score'] = preprocessing.scale(exam_data['writing score'])

math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

# Вежба 2: Репрезентација на категорични променливи

Најчесто кога помеѓу категоричните променливи споредбата има некакво значење се користи LabelEncoder().
Притоа се користи fit_transform методот кој ќе ги измине сите категорични вредности во колоната gender (пол) и истите ќе ги трансформира во броеви

In [3]:
le = preprocessing.LabelEncoder()
exam_data['gender'] = le.fit_transform(exam_data['gender'].astype(str))

Со проверка на податоците може да се увидат променетите вредности на gender колоната (1-машки пол, 0-женски пол)

In [4]:
exam_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,group E,associate's degree,standard,completed,0.994557,0.574138,1.049901
1,0,group C,associate's degree,free/reduced,none,-0.646391,-0.169564,-0.178476
2,1,group D,bachelor's degree,standard,none,1.493976,0.053547,0.544099
3,0,group A,bachelor's degree,standard,none,0.209756,0.797248,0.688613
4,0,group D,high school,free/reduced,none,-1.145810,0.053547,-0.395248

Со помош на classes_ ќе се прикажат уникатните вредности на соодветната колона

In [5]:
le.classes_

array(['female', 'male'], dtype=object)

One-hot енкодирање се постигнува многу лесно со користење на библиотеката Pandas. Секоја категорична променлива со помош на овој метод се енкодира со One-hot репрезентација. Конкретно во случај на раса/етнос секој студент припаѓа во една од групите од A до E.

In [6]:
pd.get_dummies(exam_data['race/ethnicity'])

    group A  group B  group C  group D  group E
0         0        0        0        0        1
1         0        0        1        0        0
2         0        0        0        1        0
3         1        0        0        0        0
4         0        0        0        1        0
..      ...      ...      ...      ...      ...
95        1        0        0        0        0
96        0        0        0        1        0
97        0        0        1        0        0
98        0        0        0        1        0
99        1        0        0        0        0

[100 rows x 5 columns]

Сега потребно е да ја замениме категоричната колона со One-hot репрезентација на истата

In [8]:
exam_data = pd.get_dummies(exam_data, columns=['race/ethnicity'])

In [9]:
exam_data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,associate's degree,standard,completed,0.994557,0.574138,1.049901,0,0,0,0,1
1,0,associate's degree,free/reduced,none,-0.646391,-0.169564,-0.178476,0,0,1,0,0
2,1,bachelor's degree,standard,none,1.493976,0.053547,0.544099,0,0,0,1,0
3,0,bachelor's degree,standard,none,0.209756,0.797248,0.688613,1,0,0,0,0
4,0,high school,free/reduced,none,-1.145810,0.053547,-0.395248,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,master's degree,free/reduced,completed,-0.432354,0.648508,0.977643,1,0,0,0,0
96,0,high school,free/reduced,none,-0.361008,-0.392675,-0.395248,0,0,0,1,0
97,0,some college,standard,none,0.281101,1.094729,1.194416,0,0,1,0,0
98,1,some high school,standard,none,1.708013,1.169099,0.905386,0,0,0,1,0
99,0,master's degree,free/reduced,completed,-0.004281,1.540950,1.555703,1,0,0,0,0

Истиот метод може да се користи на повеќе категорични колони истовремено, како во случајов:

In [10]:
exam_data = pd.get_dummies(exam_data, columns=['parental level of education', 'lunch', 'test preparation course'])

In [11]:
exam_data.head()

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,0.994557,0.574138,1.049901,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0
1,0,-0.646391,-0.169564,-0.178476,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1
2,1,1.493976,0.053547,0.544099,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1
3,0,0.209756,0.797248,0.688613,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1
4,0,-1.145810,0.053547,-0.395248,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1

Со ова сите податоци се во нумеричка форма и се спремни да се користат за тренирање на соодветен модел за машинско учење