In [1]:
import pandas as pd

Дадена е една Пандас табела podatoci, која се состои од колоните 'matichen', 'ime', 'prezime', 'ulica', 'broj' и 'naseleno mesto'. Во таа табела недостасува по некој податок во сите колони. За да се работи само со колоните 'matichen', 'ime' и 'prezime', направена е нова табела lichni. Тоа се постогнува со наредбата (под претпоставка дека библиотеката pandas е вчитана со скратеното име pd)

In [5]:
data = {'matichen': [29110002304, 1324913204, None], 'ime': ["Dimitrija", "Jovan", "Ivana"],
        'prezime': ["Timeski", "Jovanovski", "Ivanova"], 'ulica': ["broj 3432", None, "broj 3141"],
        'broj': [5020582, 49249230, None],
        'naseleno mesto': ["Skopje", "Shtip", "Veles"]}
podatoci = pd.DataFrame(data)
podatoci.head()

       matichen        ime     prezime      ulica        broj naseleno mesto
0  2.911000e+10  Dimitrija     Timeski  broj 3432   5020582.0         Skopje
1  1.324913e+09      Jovan  Jovanovski       None  49249230.0          Shtip
2           NaN      Ivana     Ivanova  broj 3141         NaN          Veles

In [14]:
lichni = podatoci[['matichen', 'ime', 'prezime']]
lichni

       matichen        ime     prezime
0  2.911000e+10  Dimitrija     Timeski
1  1.324913e+09      Jovan  Jovanovski
2           NaN      Ivana     Ivanova

In [15]:
lichni = podatoci.drop(labels=['ulica', 'broj', 'naseleno mesto'], axis=1)
lichni

       matichen        ime     prezime
0  2.911000e+10  Dimitrija     Timeski
1  1.324913e+09      Jovan  Jovanovski
2           NaN      Ivana     Ivanova

Во една Пандас табела sistematski е даден список од систематски преглед и има колони 'matichen', 'pol', 'visina', 'tezhina'. Потребно е да се земат само податоците за женските. Таа цел може да се постигне со следните два чекори (под претпоставка дека е вчитана библиотеката pandas со скратеното име pd)

In [24]:
data2 = {'matichen': [324324123, 32141234, 134124], 'pol': ["mashki", "zhenski", "zhenski"],
         'visina': [175.5, 169.2, 255.2],
         'tezhina': [86, 92, 66]}
sistematski = pd.DataFrame(data2)
sistematski.head()

    matichen      pol  visina  tezhina
0  324324123   mashki   175.5       86
1   32141234  zhenski   169.2       92
2     134124  zhenski   255.2       66

In [25]:
Grupirani = sistematski.groupby('pol')
Grupirani.head()

    matichen      pol  visina  tezhina
0  324324123   mashki   175.5       86
1   32141234  zhenski   169.2       92
2     134124  zhenski   255.2       66

In [27]:
Grupirani.get_group('zhenski')

   matichen      pol  visina  tezhina
1  32141234  zhenski   169.2       92
2    134124  zhenski   255.2       66

Дадена е табелата studenti со колони 'indeks', 'ime', 'prezime', 'predmet', 'ocena', во која што се запишани сите оцени за сите предмети за сите студенти. Потребно е да се најде просечната оцена на секој студент. Тоа на едноставен начин може да се постигне со помош на пивот табела со следната наредба (сметаме дека библиотеката pandas е веќе вчитана со скратено име pd)

In [50]:
data3 = {'indeks': [203235, 203235, 203235, 203235, 240522, 350924],
        'ime': ["Dimitrija", "Dimitrija", "Dimitrija", "Dimitrija", "Jovan", "Ivana"],
        'prezime': ["Timeski", "Timeski", "Timeski", "Timeski", "Jovanovski", "Ivanova"],
        'predmet': ["WBS", "WP", "DS", "APS", "DS", "WP"],
        'ocena': [9, 10, 7, 9, 6, 5]}
studenti = pd.DataFrame(data3)
studenti.head(10)

   indeks        ime     prezime predmet  ocena
0  203235  Dimitrija     Timeski     WBS      9
1  203235  Dimitrija     Timeski      WP     10
2  203235  Dimitrija     Timeski      DS      7
3  203235  Dimitrija     Timeski     APS      9
4  240522      Jovan  Jovanovski      DS      6
5  350924      Ivana     Ivanova      WP      5

In [51]:
Prosek = pd.pivot_table(data=studenti, index="indeks", aggfunc="mean")

In [52]:
Prosek

        ocena
indeks
203235   8.75
240522   6.00
350924   5.00

Дадена е една Пандас табела studenti со колони 'indeks', ime', 'prezime', 'matichen'. Во неа индекс колоната е автоматска со редни броеви, а сакаме колоната 'matichen' да стане индекс колона. Изберете кои два чекори се потребни за да бидеме сигурни дека таа колона може да биде индекс колона

In [55]:
data4 = {'indeks': [24023, 3452134, 23453], 'ime': ["Dimitrija", "Jovan", "Ivana"],
         'prezime': ["Timeski","Trajceski","Petrova"],
         'matichen': [812345123456, 9123413242, 612351236]}
studenti = pd.DataFrame(data4)
studenti.head()

    indeks        ime    prezime      matichen
0    24023  Dimitrija    Timeski  812345123456
1  3452134      Jovan  Trajceski    9123413242
2    23453      Ivana    Petrova     612351236

In [58]:
studenti['matichen'].is_unique

True

In [59]:
studenti.set_index('matichen', inplace=True)
studenti.head()

               indeks        ime    prezime
matichen
812345123456    24023  Dimitrija    Timeski
9123413242    3452134      Jovan  Trajceski
612351236       23453      Ivana    Petrova